* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  width: 100vw;
  height: 5vh;
  background-color: lightseagreen;
  padding: 15px;
}
.logo {
  display: inline-block;
}
.nav{
  float: inline-end;
}
.nav li{
  display: inline-block;
  margin: 0 20px;
}
main {
  background-color: cornflowerblue;
  height: 80vh;
}
aside {
  display: inline-block;
}
aside {
  width: 20vw;
  height: 80vh;
  background-color: rebeccapurple;
  min-width: 200px;
}
.box {
  width: 80%;
  height: 15vh;
  margin: 20px auto;
  background-color: salmon;
  border-radius: 10px;
}
section {
  display: inline-block;
  position: absolute;
  padding: 30px;
  height: 80vh;
}
footer {
  background-color: gold;
  height: 5vh;
  padding: 15px;
}
.info, .redes {
  display: inline-block;
}
.redes {
  float: inline-end;
  margin: 0 20px;
}
